<div class="container justify-content-center">
  <form class="w-25 mx-auto d-flex flex-column justify-content-center mt-5">
    <input
      type="text"
      class="form-control my-3"
      placeholder="username"
      name="username"
      [(ngModel)]="nome"
    />

    <input
      type="password"
      class="form-control my-3"
      placeholder="password"
      name="password"
      [(ngModel)]="password"
    />
    <div class="d-flex justify-content-center">
      <button (click)="submit()" class="btn btn-primary w-25">Login</button>
      <button type="button" class="btn btn-outline-secondary w-50 mx-2">
        <a routerLink="reactive" class="text-decoration-none text-black">
          Registrati</a
        >
      </button>
    </div>
  </form>
</div>
